<section
  [class]="param.class||''"
  [class]="param.pattern"
>
  <input
    [formControl]="control"
    [placeholder]="param.pattern!=='display' ? param.placeholder || '' : ''"
    [name]="param.name"
    [(ngModel)]="value"
    [class.error]="!(param.pattern==='display'&& param.disabled) && control.touched && errorKey"
  >
  <article>
    <p (click)="toggleList()"
       [class.disabled]="this.param['disabled'] || !Object.keys(this.data).length"
    >
      {{data[value] ? data[value]['text']:'暂无数据'}}
    </p>
    <ul *ngIf="status">
      <li *ngFor="let v of Object.keys(data)" (click)="select(v)">{{data[v]['text']}}</li>
    </ul>
  </article>
  <footer>
    <div
      *ngIf="!(param.pattern==='display'&& param.disabled) &&
      control.touched && errorKey"
      class="error-msg">
      {{validMsg[errorKey]}}
    </div>
  </footer>
</section>
