<section
  class="input-frame {{param.class||''}}"
  [class.display]="param['pattern']==='display'"
>
  <input
    class="input-item"
    [formControl]="control"
    [placeholder]="param.pattern!=='display' ? param.placeholder || '' : ''"
    [name]="param.name"
    [(ngModel)]="param.value"
    [class.error]="!(param.pattern==='display'&& param.disabled) && control.touched && errorKey"
  >
  <article class="select-frame" [class.zindex]="status">
    <p (click)="toggleList($event)"
       class="input-item select-text"
       [class.active]="!param['disabled'] && status"
       [class.disabled]="param['disabled'] || !valueKeys.length"
       [class.error]="!(param.pattern==='display'&& param.disabled) && control.touched && errorKey"
      >
      <i></i>
      {{valueKeys.length ? (data[param.value] ? data[param.value]['text'] : param.placeholder) : '暂无数据'}}
    </p>
    <ul *ngIf="status" class="select-list">
      <li *ngFor="let v of valueKeys" (click)="select(v)">{{data[v]['text']}}</li>
    </ul>
  </article>
  <footer class="input-footer">
    <div
      *ngIf="!(param.pattern==='display'&& param.disabled) &&
      control.touched && errorKey"
      class="error-msg">
      {{validMsg[errorKey]}}
    </div>
  </footer>
</section>
