<section class="list" [class.manage]="pattern==='manage'">
  <header class="list-header">
    <button class="empty-button plain border"
            (click)="add($event)"
            *ngIf="interfs.length"
    >
      <i></i>添加模块
    </button>
    <button class="plain" (click)="manage($event)" *ngIf="interfs.length">{{pattern==='manage'?'取消管理':'管理'}}</button>
    <button *ngIf="manageIds.length" class="plain" (click)="delete($event)">删除</button>
    <button class="plain back" (click)="back($event)" >返回</button>
    <div style="clear: both;"></div>
  </header>
  <div *ngIf="pattern==='add'" class="horizontal add-frame" [class.active]="!selectInterf.id">
    <interf-baseinfo
      (cancelAdd)="cancel()"
      (confirmSave)="confirmAdd($event)"
      [modul]="selectInterf"
      class="flex"></interf-baseinfo>
  </div>
  <app-interf-item
    *ngFor="let interf of interfs"
    (click)="clickModul($event,interf)"
    (modulEvent)="interfEvent($event)"
    class="list-item"
    [class.manage]="manageIds.indexOf(interf['id']) > -1"
    [class.selected]="selectInterf && selectInterf.id===interf.id"
    [interf]="interf">
    <interf-baseinfo [interf]="interf" (confirmSave)="updateInterf($event)"></interf-baseinfo>
    <com-configinfo [config]="interf.config" *ngIf="interf.config"></com-configinfo>
  </app-interf-item>
  <button
    class="empty-button plain border"
    (click)="add($event)"
    *ngIf="pattern!=='add' && !interfs.length">
    <i></i>添加模块
  </button>
</section>
<pop *ngFor="let pop of popData" [param]="pop" (btnclick)="popevent($event)"></pop>
