<section
  [class]="param.class||''"
  [class]="param.pattern"
  >
  <input
    [formControl]="control"
    [placeholder]="param.pattern!=='display' ? param.placeholder || '' : ''"
    [name]="param.name"
    [(ngModel)]="value"
    [class.error]="!(param.pattern==='display'&& param.disabled) && control.touched && errorKey"
  >
  <footer>
    <div
      *ngIf="!(param.pattern==='display'&& param.disabled) &&
      control.touched && errorKey"
      class="error-msg">
      {{validMsg[errorKey]}}
    </div>
  </footer>
</section>
