input{
  height: 25px;
  width: 150px;
  margin: 0;
  padding: 0;
  border: 1px solid #999999;
  text-indent: 8px;
  color: #666666;
  box-sizing: border-box;
  background-color: transparent;
}
input.error{
  border-color: #ff0000;
}
input:focus{
  outline: none;
  border: 1px solid #999999;
}
input:hover{
  border: 1px solid #999999;
}
section.display input{
  border:0;
}
section.display input[disabled]{
  background-color: transparent;
}
section.display input:hover{
  border: 1px solid #999999;
}
section.display input:focus{
  border: 1px solid #999999;
}
section.display input[disabled]:hover{
  border: 0;
}
section.display input[disabled]:focus{
  border: 0;
}
.error-msg{
  color: #ff0000;
}
