<section
  class="input-frame {{param.class||''}}"
  [class.display]="param['pattern']==='display'"
  [class.required]="param['required']"
  >
  <input
    [type]="param.password ? 'password':'text'"
    class="input-item"
    [formControl]="control"
    [placeholder]="param.pattern!=='display' ? param.placeholder || '' : ''"
    [name]="param.name"
    [(ngModel)]="param.value"
    [class.error]="!(param.pattern==='display'&& param.disabled) && control.touched && errorKey"
    >
  <footer class="input-footer">
    <div
      *ngIf="!(param.pattern==='display'&& param.disabled) &&
      control.touched && errorKey"
      class="error-msg">
      {{validMsg[errorKey]}}
    </div>
  </footer>
</section>
