<section class="com-frame">
  <header class="interf-header"><h1>{{interf.method}}</h1><p>{{interf.full_path}}</p><span *ngFor="let tip of tips">{{tip.name}}<i>：</i>{{tip.value || interf[tip.key]}}</span></header>
  <article class="horizontal">
    <!--<p *ngIf="brefIsDisplay">{{interf.comment}}</p>-->
    <ng-content *ngIf="!brefIsDisplay"></ng-content>
  </article>
  <aside>
    <div><i class="tail-arrow" (click)="toggleBref($event)" [class.toggle]="!brefIsDisplay"></i></div>
    <ul [class.show]="!brefIsDisplay">
      <li>
        <button class="plain" (click)="delete($event)">删除</button>
      </li>
    </ul>
  </aside>
</section>
<pop *ngFor="let pop of popData" [param]="pop" (btnclick)="popevent($event)"></pop>
