/**
  fm = form
  pn = panel
  lb = label

  bd = border
  cl = color
  ht = height
  wd = width
  bg = background
  zind = z-index
  op = opacity

  hv = hover
  db = disabled
  dp = display

  bl = blank
  time = time
 */
//表单输入项默认高度
fm_ht = 32

//表单输入项默认宽度
fm_wd = 50%

//表单输入项最小宽度
fm_min_wd = 200

//表单名称宽度
fm_lb_wd = 100

//表单中普通边线颜色
fm_bd_cl = #999999

//表单中hover边线颜色
fm_hv_bd_cl = #666666

//表单中普通边线
fm_bd = 1px solid fm_bd_cl

//表单表示展示的边线样式
fm_dp_bd = 1px solid rgba(0,0,0,0)

//表单默认文字颜色
fm_cl = #666666

//表单禁用背景颜色
fm_db_bg_cl = #e8e8e8

//错误颜色
er_cl = #ff0000;

//表单错误边线颜色
fm_er_bd = 1px solid er_cl

//表单下拉选项Hover背景色
fm_sl_hv_bg_cl = #f0f8ff


//普通面板边线颜色
pn_bd_cl = #cccccc

//普通面板边线
pn_bd = 1px solid pn_bd_cl

//普通面板文字颜色
pn_cl = #222222

//一般的背景色
bg_cl = #ffffff

//普通空白距离
bl = 8

//2倍空白距离
bl2 = 16

//3倍空白距离
bl3 = 24


//-1级z-index
zind-1 = -1

//1级z-index
zind1 = 100

//1.1级z-index
zind11 = 101

//2级z-index
zind2 = 200


//全透明
op0 = 0

//全部透明
op1 = 1

//表示不激活半透明
op04 = 0.4


//动画默认时间
time = 500
