.form-content
  position: relative

.form-content>ul
  padding-left: (8*bl)px

.form-content label
  display: inline-block
  width: fm_lb_wd px
  text-align: left
  vertical-align: top
  margin-top: 2px
  margin-left: bl2 px

.form-title
  font-size: 20px
  margin: bl2 px

.form-aside
  position: absolute
  right: bl2 px
  top: 4px

.button-aside
  color: fm_cl
  opacity: op04
  width: bt_min_wd px
  z-index: zind2

.button-aside:hover
  opacity: op1

.button-aside>div
  box-sizing: border-box
  cursor: pointer

.button-aside>ul
  height: 0
  overflow: hidden
  transition: height linear (time)ms

.form-footer
  padding-left: 185px

.form-footer>button
  margin-right: bl px
