.com-frame{
  margin: 8px;
  border: 1px solid #cccccc;
  padding: 16px;
  position: relative;

  &>header{
    line-height: 26px;
    width: 100%;
    margin-bottom: 16px;
  }

  &>header>h1{
    font-size: 26px;
    display: inline;
  }

  &>header>span{
    float: right;
    margin-left: 8px;
  }

  &>aside{
    position: absolute;
    right: 1px;
    bottom: 1px;
    width: 10px;
    overflow: hidden;
    opacity: 0.6;
  }
  &>aside:hover{
    opacity: 1;
    width: 55px;
  }
  &>aside i.toggle{
    transform: rotate(180deg);
  }
  &>aside>div{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &>aside>ul{
    margin-bottom: 8px;
    margin-left: 55px;
    transition: margin-left linear 500ms;
  }
  &>aside:hover>ul.show{
    margin-left:0;
  }
}
