.pop-frame
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 999

.pop-body
  background-color: #ffffff
  min-width: 300px
  text-align: center
  border: 1px solid #cccccc
  padding: 8px 0
  box-shadow: 0 0 10px rgba(150, 148, 148, 0.7)

.pop-body>header
  text-align: left
  padding: 0 10px
  position: relative

.pop-body>header>i.normal-close
  position: absolute
  right: 9px

.pop-body>article
  min-height: 50px
  padding: 8px
