.select-frame
  position: absolute
  width: 100%
  background: bg_cl
  top: 0
  z-index: zind1
  min-width: 200px

.select-frame.zindex
  z-index: zind11

.select-text
  cursor: pointer

.input-frame .select-text.disabled
  cursor: default

.input-frame.display .input-item.select-text.active
  border: fm_bd

.input-frame.display .input-item.select-text.active>i
  opacity: op1

.select-text>i
  float: right
  margin-top: 10px
  margin-right: 10px

/**
小三角的样式 start
 */
.select-text>i:focus
  opacity: op1

.select-text>i:hover
  opacity: op1

.input-frame.display .select-text>i
  opacity: op0

.select-text.error.disabled:hover>i
  opacity: op1

.select-text.error.disabled:focus>i
  opacity: op1

.input-frame.display .select-text.disabled>i
  opacity: op0

.input-frame.display .select-text:hover>i
  opacity: op1

.input-frame.display .select-text:focus>i
  opacity: op1

.input-frame.display .select-text.error>i
  opacity: op1

.input-frame.display .select-text.error:hover>i
  opacity: op1

.input-frame.display .select-text.error:focus>i
  opacity: op1

.input-frame.display .select-text.disabled:hover>i
  opacity: op0

.input-frame.display .select-text.disabled:focus>i
  opacity: op0

/**
小三角的样式 end
 */
.select-list
  border: fm_bd
  border-top: 0
  cursor: pointer

.select-list>li
  border-bottom:fm_bd
  padding: 0 (bl)px
  height: fm_ht px
  line-height: fm_ht px

.select-list>li:last-child
  border-bottom: 0

.select-list>li:hover
  background-color: fm_sl_hv_bg_cl
