<form [formGroup]="form" class="form-content">
  <h2 class="form-title">配置信息</h2>
  <ul [class.active]="config.length || pattern==='add'">
    <li>
      <label>模板名称</label>
      <com-select
        (backControl)="getControl($event,param['name']['name'])"
        [param]="param['name']"
        (changed)="setDataByName($event)"
      ></com-select>
    </li>
    <li>
      <label>模板类型</label>
      <com-select (backControl)="getControl($event,param['type']['name'])" [param]="param['type']"></com-select>
    </li>
    <li>
      <label>模板样本</label>
      <com-textarea (backControl)="getControl($event,param['content']['name'])" [param]="param['content']"></com-textarea>
    </li>
  </ul>
  <footer *ngIf="(config.length || pattern==='add') && !disabled" class="form-footer">
    <button (click)="save($event)"
            *ngIf="((param['name']['editable'] && form.controls['name'].dirty ) || form.controls['type'].dirty||form.controls['content'].dirty) && form.touched && !form.invalid"
            class="plain border">
      保存
    </button><button *ngIf="pattern==='add' && form.dirty"
                     (click)="clear($event)"
                     class="plain border">
      清空
    </button><button (click)="reset($event)"
                     class="plain border"
                     *ngIf="pattern!=='display' || (pattern==='display' &&
                     ((param['name']['editable'] && form.controls['name'].dirty ) || form.controls['type'].dirty||form.controls['content'].dirty))">
    {{pattern==='add'?'取消':'重置'}}
  </button>
  </footer>
  <aside *ngIf="config.length || pattern==='add'" class="form-aside button-aside">
    <div><i class="big-arrow"></i></div>
    <ul>
      <li>
        <button
          class="plain"
          (click)="toggleDisabled($event)"
          *ngIf="pattern==='display'"
        >
          {{disabled ? '解锁': '锁定'}}
        </button>
      </li>
      <li>
        <button class="plain" (click)="add($event)" *ngIf="!disabled && pattern!=='add'">添加</button>
      </li>
      <li>
        <button  class="plain"
                 (click)="togglePattern($event,'edit')"
                 *ngIf="pattern==='display' && !disabled">编辑</button>
      </li>
      <li>
        <button class="plain" *ngIf="pattern!=='add'">删除</button>
      </li>
    </ul>
  </aside>
  <button class="empty-button plain border" *ngIf="pattern!=='add' && !config.length" (click)="add($event)">
    <i></i>添加配置
  </button>
</form>
