textarea{
  resize: vertical;
  overflow: hidden;
  width: 300px;
  min-height: 50px;
  max-height: 330px;
  text-indent: 0;
  padding: 0 8px;
}
.input-frame.display textarea{
  resize: none;
}
.input-frame.display textarea:hover{
  resize: vertical;
}
.input-frame.display textarea:focus{
  resize: vertical;
}
.input-frame.display textarea[disabled]:hover{
  resize: none;
}
.input-frame.display textarea[disabled]:focus{
  resize: none;
}
