<div class="pop-frame box_center" *ngIf="param.active">
  <section class="pop-body">
    <header>
      <span>{{param.title}}</span>
      <i class="normal-close" (click)="btnevent($event,'close')"></i>
    </header>
    <article class="box_center">
      <p>{{param.content || ''}}</p>
      <ng-content></ng-content>
    </article>
    <footer>
      <button *ngFor="let btn of param.button"
              class="plain hover-border"
              (click)="btnevent($event,btn.key)"
      >
        {{btn.text}}
      </button>
    </footer>
  </section>
</div>
