<section class="list-project" [class.manage]="pattern==='manage'">
  <header class="list-header">
    <button class="empty-button plain border"
            (click)="add($event)"
            *ngIf="projects.length">
      <i></i>添加项目
    </button>
    <button class="plain" (click)="manage($event)">{{pattern==='manage'?'取消管理':'管理'}}</button>
    <button *ngIf="manageIds.length" class="plain" (click)="delete($event)">删除</button>
  </header>
  <div *ngIf="pattern==='add'" class="horizontal add-frame" [class.active]="!selectProject.id">
    <com-baseinfo
      (cancelAdd)="cancel()"
      [project]="selectProject"
      class="flex"></com-baseinfo>
  </div>
  <app-local-pro-item
    *ngFor="let project of projects"
    (click)="clickProject($event,project)"
    class="project-item"
    [class.manage]="manageIds.indexOf(project['id']) > -1"
    [class.selected]="selectProject && selectProject.id===project.id"
    [project]="project"></app-local-pro-item>
  <button
    class="empty-button plain border"
    (click)="add($event)"
    *ngIf="pattern!=='add' && !projects.length">
    <i></i>添加项目
  </button>
</section>
<pop *ngFor="let pop of popData" [param]="pop" (btnclick)="popevent($event)"></pop>
