.add-frame{
  padding:16px;
  border:1px solid #cccccc;
  box-sizing: border-box;
  margin: 8px;
}
.add-frame.active{
  box-shadow: 0 0 10px rgba(150, 148, 148, 0.7);
}
section{
  min-width: 948px;
}
/*app-local-pro-item.manage>com-frame>section{
  border-color: #4c96f3;
}*/
