.big-arrow {
  display: block;
  margin: auto;
  width: 20px;
}
.big-arrow:before {
  content: '';
  border-bottom: 1px solid #999;
  width: 10px;
  transform: rotate(30deg);
  display: inline-block;
  transform-origin: right bottom;
}
.big-arrow:after {
  content: '';
  border-bottom: 1px solid #999;
  width: 10px;
  transform: rotate(-30deg);
  display: inline-block;
  transform-origin: left bottom;
}
.middle-arrow {
  display: block;
  margin: auto;
  width: 16px;
}
.middle-arrow:before {
  content: '';
  border-bottom: 1px solid #999;
  width: 8px;
  transform: rotate(45deg);
  display: inline-block;
  transform-origin: right bottom;
}
.middle-arrow:after {
  content: '';
  border-bottom: 1px solid #999;
  width: 8px;
  transform: rotate(-45deg);
  display: inline-block;
  transform-origin: left bottom;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  min-width: 800px;
  overflow: auto;
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
a,
p,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: normal;
}
body,
form,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
th,
td,
p,
input,
dl,
dt,
dd,
textarea,
button {
  font: 14px "微软雅黑";
  letter-spacing: 0.5px;
}
input {
  padding-bottom: 2px;
}
.horizontal {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
}
.vertical {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}
.box_center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -o-box-pack: center;
  -o-box-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.box_align_start {
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
}
.box_align_end {
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
}
.box_pack_start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
}
.box_pack_end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
}
.flex {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
}
.content {
  height: 100%;
  overflow: auto;
}
.content-header {
  width: 100%;
  height: 40px;
}
.navLinks {
  padding-left: 8px;
}
.navLinks a {
  height: 25px;
  display: inline-block;
  line-height: 25px;
  margin-top: 7px;
  padding: 0 16px;
  text-decoration: none;
  font-size: 15px;
  color: #222;
}
.navLinks a.active {
  border: 1px solid #ccc;
}
.container {
  min-width: 600px;
  overflow: auto;
}
button {
  height: 25px;
  width: auto;
  min-width: 55px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button.plain {
  color: #666;
}
button.plain:hover {
  color: #222;
}
button.hover-border:hover {
  border: 1px solid rgba(0,0,0,0);
}
button.hover-border:hover {
  border: 1px solid #999;
}
button.border {
  border: 1px solid #999;
}
button.border:hover {
  border-color: #666;
}
.form-content {
  position: relative;
}
.form-content>ul {
  padding-left: 64px;
}
.form-content label {
  display: inline-block;
  width: 100px;
  text-align: left;
  vertical-align: top;
  margin-top: 2px;
  margin-left: 16px;
}
.input-frame.required:before {
  content: '*';
  color: #f00;
  position: absolute;
  left: -16px;
}
.input-frame.display.required:before {
  display: none;
}
.input-frame {
  display: inline-block;
  position: relative;
  width: 50%;
}
.input-item {
  height: 32px;
  line-height: 29px;
  min-width: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid #999;
  text-indent: 8px;
  color: #666;
  box-sizing: border-box;
  background-color: transparent;
}
.input-item.error {
  border-color: #f00;
}
.input-item:focus {
  outline: none;
  border: 1px solid #999;
}
.input-item:hover {
  border: 1px solid #999;
}
.input-frame.display .input-item {
  border: 1px solid rgba(0,0,0,0);
}
.input-item[disabled],
.input-item.disabled {
  background-color: #e8e8e8;
}
.input-item.error[disabled]:hover,
.input-item.error.disabled:hover {
  border: 1px solid #f00;
}
.input-item.error[disabled]:focus,
.input-item.error.disabled:focus {
  border: 1px solid #f00;
}
.input-frame.display .input-item[disabled],
.input-frame.display .input-item.disabled {
  background-color: transparent;
}
.input-frame.display .input-item:hover {
  border: 1px solid #999;
}
.input-frame.display .input-item:focus {
  border: 1px solid #999;
}
.input-frame.display .input-item.error {
  border: 1px solid #f00;
}
.input-frame.display .input-item.error:hover {
  border: 1px solid #999;
}
.input-frame.display .input-item.error:focus {
  border: 1px solid #999;
}
.input-frame.display .input-item[disabled]:hover,
.input-frame.display .input-item.disabled:hover {
  border: 1px solid rgba(0,0,0,0);
}
.input-frame.display .input-item[disabled]:focus,
.input-frame.display .input-item.disabled:focus {
  border: 1px solid rgba(0,0,0,0);
}
.error-msg {
  color: #f00;
}
.input-footer {
  padding: 8px 0;
}
.tree {
  display: block;
  border: 1px solid #ccc;
}
.tree>div {
  width: 200px;
}
/*********************form start*************************/
/**
select style start
 */
.select-frame {
  position: absolute;
  width: 100%;
  background: #fff;
  top: 0;
  z-index: 100;
}
.select-frame.zindex {
  z-index: 101;
}
.select-text {
  cursor: pointer;
}
.input-frame .select-text.disabled {
  cursor: default;
}
.input-frame.display .input-item.select-text.active {
  border: 1px solid #999;
}
.input-frame.display .input-item.select-text.active>i {
  opacity: 1;
}
.select-text>i {
  float: right;
  display: inline-block;
  height: 5px;
  width: 5px;
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  transform: rotate(45deg);
  margin-top: 10px;
  margin-right: 10px;
}
/**
小三角的样式 start
 */
.select-text>i:focus {
  opacity: 1;
}
.select-text>i:hover {
  opacity: 1;
}
.input-frame.display .select-text>i {
  opacity: 0;
}
.select-text.error.disabled:hover>i {
  opacity: 1;
}
.select-text.error.disabled:focus>i {
  opacity: 1;
}
.input-frame.display .select-text.disabled>i {
  opacity: 0;
}
.input-frame.display .select-text:hover>i {
  opacity: 1;
}
.input-frame.display .select-text:focus>i {
  opacity: 1;
}
.input-frame.display .select-text.error>i {
  opacity: 1;
}
.input-frame.display .select-text.error:hover>i {
  opacity: 1;
}
.input-frame.display .select-text.error:focus>i {
  opacity: 1;
}
.input-frame.display .select-text.disabled:hover>i {
  opacity: 0;
}
.input-frame.display .select-text.disabled:focus>i {
  opacity: 0;
}
/**
小三角的样式 end
 */
.select-list {
  border: 1px solid #999;
  border-top: 0;
  cursor: pointer;
}
.select-list>li {
  border-bottom: 1px solid #999;
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
}
.select-list>li:last-child {
  border-bottom: 0;
}
.select-list>li:hover {
  background-color: #f0f8ff;
}
/**
select style end
 */
.form-title {
  font-size: 20px;
  margin: 16px;
}
/**
form-aside start
 */
.form-aside {
  position: absolute;
  right: 16px;
  top: 4px;
}
.button-aside {
  color: #666;
  opacity: 0.4;
  width: 55px;
  z-index: 200;
}
.button-aside:hover {
  opacity: 1;
}
.button-aside>div {
  box-sizing: border-box;
  cursor: pointer;
}
.button-aside>ul {
  height: 0;
  overflow: hidden;
  transition: height linear 500ms;
}
/**
form-aside end
 */
/**
form-footer start
 */
.form-footer {
  padding-left: 185px;
}
.form-footer>button {
  margin-right: 8px;
}
/**
form-footer end
 */
/*********************form end*************************/
/*********************frame start*************************/
.small-arrow {
  display: block;
  height: 8px;
  width: 8px;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  cursor: pointer;
}
.small-arrow:before {
  content: '';
  display: block;
  width: 8px;
  transform: rotate(42deg);
  transform-origin: left bottom;
  border: 1px solid #999;
}
/*********************frame end*************************/
/*********************empty button start*************************/
.empty-button {
  margin: auto;
  display: block;
  margin-top: 80px;
  height: 50px;
  font-size: 26px;
  padding: 0 16px;
  opacity: 0.4;
  padding-bottom: 2px;
}
.empty-button:hover {
  opacity: 0.8;
}
.empty-button>i {
  display: inline-block;
  margin-left: 8px;
}
.empty-button>i:before {
  content: '';
  height: 16px;
  display: inline-block;
  border-right: 2px solid #666;
}
.empty-button>i:after {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  border-bottom: 2px solid #666;
  position: relative;
  bottom: 7px;
  right: 9px;
}
/*********************empty button end*************************/
/*********************list header start*************************/
.list-header {
  margin: 0 8px;
}
.list-header .empty-button {
  transform: scale(0.6);
  margin: 0 0 -9px -33px;
  display: inline-block;
  opacity: 1;
  bottom: 0;
}
.list-header .empty-button:hover {
  opacity: 1;
}
.list-header button {
  position: relative;
  bottom: 4px;
}
.list-header button:nth-child(2) {
  margin-left: -25px;
}
/*********************list header end*************************/
/*********************project start*************************/
.list-project.manage .form-content {
  pointer-events: none;
  cursor: default;
}
.list-project.manage .com-frame>aside:hover>ul.show {
  margin-left: 55px;
}
.project-item.manage section.com-frame {
  border-color: #4c96f3;
}
.project-item.selected section.com-frame {
  box-shadow: 0 0 1px rgba(150,148,148,0.7);
}
/*********************project end*************************/
/*********************scroll start*************************/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background: rgba(0,0,0,0.1);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,0.2);
/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.4);
}
/*********************scroll end*************************/
/*********************pop start*************************/
.normal-close {
  display: inline-block;
  transform: rotate(45deg);
  transition: transform ease 500ms;
  transform-origin: center center;
  cursor: pointer;
}
.normal-close:hover {
  transform: rotate(405deg);
}
.normal-close:before {
  content: '';
  height: 15px;
  display: inline-block;
  border-right: 1px solid #666;
  position: relative;
  left: 8px;
}
.normal-close:after {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  border-bottom: 1px solid #666;
  position: relative;
  bottom: 7px;
}
.pop-frame {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.pop-body {
  background-color: #fff;
  min-width: 300px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 8px 0;
  box-shadow: 0 0 10px rgba(150,148,148,0.7);
}
.pop-body>header {
  text-align: left;
  padding: 0 10px;
  position: relative;
}
.pop-body>header>i.normal-close {
  position: absolute;
  right: 9px;
}
.pop-body>article {
  min-height: 50px;
  padding: 8px;
}
/*********************pop end*************************/
