section{
  margin: 8px;
  border: 1px solid #cccccc;
  padding: 16px;
  position: relative;
}
header{
  line-height: 26px;
  width: 100%;
  margin-bottom: 16px;
}

header>h1{
  font-size: 20px;
  display: inline;
}

header>span{
  float: right;
  margin-left: 8px;
}

aside{
  position: absolute;
  right: 0;
  bottom: 0;
}
aside button.plain:hover{
  text-decoration: underline;
}
